<launch>
    <include file="$(find turtlebot3_gazebo)/launch/rail.launch" />
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />

    <node name="localize" pkg="simulation_code" type="localize" output="screen"/>
    <node name="environment" pkg="simulation_code" type="environment" output="screen"/>
    <node name="coll_avoid" pkg="simulation_code" type="coll_avoid" output="screen"/>
</launch>
