<launch>

    <arg name="nav_node" default="simudrive_feedback"/>
    <!-- roslaunch simulation_code multilaunch.launch nav_node:="NAME" -->

    <include file="$(find turtlebot3_gazebo)/launch/rail.launch" />
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />

    <node name="$(arg nav_node)" pkg="simulation_code" type="$(arg nav_node)" output="screen"/>
    <node name="localize" pkg="simulation_code" type="localize" output="screen"/>
    <node name="coll_avoid" pkg="simulation_code" type="coll_avoid" output="screen"/>
    <node name="environment" pkg="simulation_code" type="environment" output="screen"/>
</launch>
